.card{
    width: 100%;
    margin-bottom: 20px;
}
.card img{
    width: 100%;
}
.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    background-color: transparent;
    height: 163px;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
    height: 139px;
    overflow: hidden;
    width:  258px;
}


.lib-panel .lib-row {
  padding: 0 11px 0 8px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
/* padding: 10px 20px 0 20px; */
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    /*height: 100%;*/
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    height: 163px;
    overflow: hidden;
}

.no-padding {
    padding: 0;
}
.col-sm-3 h3, hr{
    margin-left: -17px;
}
#categories_card{
    height: 189px;
    overflow:hidden;
    border: none;
    margin-left: -17px;
}
#categories_card img{
    height: 189px;
}
#categories_card .card-block{
    width: 100%;
    padding: 0 !important;
    margin-left: -18px;
}
@media only screen and (max-width: 599px) {
  #categories_card {
      width: 100%;
      height: auto;
  }
  #categories_card .card-block {
      width: 100%;
      padding: 10px !important;
      margin-left: 0 !important;
  }
  #categories_card{
    margin-left: 0 !important;
    margin-bottom: 20px;
  }
}
