body{
  font-family: 'PT Serif', serif;
}

.top_nav .navbar-right li {
  background-color: #fff !important;
}
    .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
        font-size: 10pt !important;
    }
    .ipdba{
        background-color: #ff0311 !important;
    }
    .abi{
        background-color: #095091 !important;
    }
    .imac{
        background-color: #095091 !important;
    }
    .perdi{
        background-color: #252525 !important;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #ffffff !important;
    }
    .navbar-expand-lg .navbar-collapse{
      margin-left: 80px;
    }
    #pagination_achievment{
        float: right;
    }
    #pagination_Lmedia{
        float: right;
    }
    #pagination_galleries{
        float: right;
    }
    .header_rows ._i{
        width: 22%;
        padding: 10px;
        margin: 0 55px;
    }
    .header_rows ._i2{
        width: 37%;
        padding: 10px;
        margin: 22px 76px 0 158px;
    }

    .card-footer{
        background-color: #e5e4e4;
        border: none !important;
    }
    .card-footer .logo_foters{
        float: left;
        width: 146px;
        padding: 14px;
    }
    .card-footer .logo_foters img{
        width: 79%;
    }
    a{
        color: #000000 !important;
    }
    .ipdba_copyright{
        background-color: #ff0302;
    }
    .ipdba_copyright p{
        color: #fff !important;
    }
    .abi_copyright{
        background-color: #095091;
    }
    .abi_copyright p{
        color: #fff !important;
    }
    .imac_copyright{
        background-color: #095091;
    }
    .imac_copyright p{
        color: #fff !important;
    }
    .perdi_copyright{
        background-color: #252525 !important;
    }
    .perdi_copyright p{
        color: #fff !important;
    }
    .abus2{
        display: block;
    }
    .fader{
        -moz-transition: opacity 0.7s linear;
        -o-transition: opacity 0.7s linear;
        -webkit-transition: opacity 0.7s linear;
        transition: opacity 0.7s linear;
    }

    .fader.fadedOut {
        opacity: 0;
    }
    .search_form{
      margin-right: 0 !important;
      margin-left: 201px;
    }
    .search_f{
      display: block;
    }
    .list_div{
        border-top: 1px solid rgba(0,0,0,.1);
        width: 100%;
    }
    .galleri_detail{
      margin-bottom: 10px;
      float: left;
      width: 300px;
      margin-left: 50px;
      margin-top: 33px;
      overflow: hidden;
      height: 319px;
    }
    .galleri_detail .gallery_card_detail{
      height: 232px;
      overflow: hidden
    }
    @media only screen and (max-width: 599px) {
      .youtube{
        width: 100% !important;
      }
      .container{
          width: 100%;
          overflow: hidden;
      }
      .navbar-expand-lg .navbar-collapse{
        margin-left: 0 ;
      }
        .header_rows ._i{
            width: 64%;
            display: none !important;
        }
        .header_rows ._i2{
            width: 100%;
            margin: 0;
            display: none !important;
        }
        .ml-auto, .mx-auto {
            margin-right: 0 !important;
            margin-left: 0 !important;
              width: 100%;
        }
        .search_form{
          margin-right: 0 !important;
          margin-left: 0px !important;
        }
        .lib-panel {
            margin-bottom: 20Px;
            padding: 17px;
        }
        .lib-panel .row, .lib-panel .col-md-6 {
            padding: 0;
            background-color: #FFFFFF;
            height: 100% !important;
            overflow: hidden;
            width: 100% !important;
        }
        .lib-panel img{
            height: 100% !important;
            width: 100% !important;
        }
        .card-footer .logo_foters {
            float: left;
            width: 125px;
            padding: 0;
        }
        .galleri_detail {
          margin-bottom: 10px;
          float: none;
          width: 100%;
          margin-left: 0;
          margin-top: 33px;
          overflow: hidden;
          height: auto;
      }
      .galleri_detail .gallery_card_detail {
          height: auto;
          overflow: hidden;
      }
    }
