.card{
    width: 100%;
    margin-bottom: 20px;
}
.card img{
    width: 100%;
}
.lib-panel {
margin-bottom: 20Px;
}
.lib-panel img {
background-color: transparent;
height: 163px;
}

.lib-panel .row,
.lib-panel .col-md-6 {
padding: 0;
background-color: #FFFFFF;
height: 139px;
overflow: hidden;
width: 350px;
}


.lib-panel .lib-row {
padding: 0 11px 0 8px;
}

.lib-panel .lib-row.lib-header {
background-color: #FFFFFF;
font-size: 15px;
font-weight: bold;
/* padding: 10px 20px 0 20px; */
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
height: 2px;
width: 26px;
background-color: #d9d9d9;
margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
position: relative;
/*height: 100%;*/
display: block;
font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
position: relative;
width: 100%;
bottom: 0;
left: 0;
}

.row-margin-bottom {
margin-bottom: 20px;
}

.box-shadow {
-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
height: 163px;
overflow: hidden;
margin-left: 0 !important;
}

.no-padding {
padding: 0;
}
/* media sosial share button */
.resp-sharing-button__link,
.resp-sharing-button__icon {
display: inline-block
}

.resp-sharing-button__link {
text-decoration: none;
color: #fff;
margin: 0.5em
}

.resp-sharing-button {
border-radius: 5px;
transition: 25ms ease-out;
padding: 0.5em 0.75em;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
width: 1em;
height: 1em;
margin-right: 0.4em;
vertical-align: top
}

.resp-sharing-button--small svg {
margin: 0;
vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
stroke: #fff;
fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
fill: #fff;
stroke: none
}

.resp-sharing-button--twitter {
background-color: #55acee
}

.resp-sharing-button--twitter:hover {
background-color: #2795e9
}

.resp-sharing-button--pinterest {
background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
background-color: #8c0615
}

.resp-sharing-button--facebook {
background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
background-color: #2d4373
}

.resp-sharing-button--tumblr {
background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
background-color: #222d3c
}

.resp-sharing-button--reddit {
background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
background-color: #3a80c1
}

.resp-sharing-button--google {
background-color: #dd4b39
}

.resp-sharing-button--google:hover {
background-color: #c23321
}

.resp-sharing-button--linkedin {
background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
background-color: #046293
}

.resp-sharing-button--email {
background-color: #777
}

.resp-sharing-button--email:hover {
background-color: #5e5e5e
}

.resp-sharing-button--xing {
background-color: #1a7576
}

.resp-sharing-button--xing:hover {
background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-radius: 52%;
  display: none;
}

.resp-sharing-button--whatsapp:hover {
background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
background-color: #507299
}

.resp-sharing-button--vk:hover {
background-color: #43648c
}

.resp-sharing-button--facebook {
background-color: #3b5998;
border-color: #3b5998;
border-radius: 52%;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
background-color: #2d4373;
border-color: #2d4373;
}

.resp-sharing-button--twitter {
background-color: #55acee;
border-color: #55acee;
border-radius: 52%;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
background-color: #2795e9;
border-color: #2795e9;
}

.resp-sharing-button--google {
background-color: #dd4b39;
border-color: #dd4b39;
border-radius: 52%;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
background-color: #c23321;
border-color: #c23321;
}

.resp-sharing-button--tumblr {
background-color: #35465C;
border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
background-color: #222d3c;
border-color: #222d3c;
}

.resp-sharing-button--email {
background-color: #777777;
border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
background-color: #5e5e5e;
border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
background-color: #bd081c;
border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
background-color: #8c0615;
border-color: #8c0615;
}
.card-sosial{
float: right;
margin-top: -13px;
}
.card-sosial_mobile{
  display: none;
}
.bridge{
color: #b2b2b2;
font-size: 9pt;
}
.resize_img{
height: 222px;
width: 100%;
}
.card_cat_gories_abi{
  background: #095091;
  color: #fff;
}
.card_cat_gories_abi .card-title{
  font-size: 12pt;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
}
.card_cat_gories_abi .fa-plus{
  margin-right: 13px;
  margin-top: 5px;
  color: #fff;
}

/* idpba */
.card_cat_gories_idpba{
  background: #ff0311;
  color: #fff;
}
.card_cat_gories_idpba .card-title{
  font-size: 12pt;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
}
.card_cat_gories_idpba .fa-plus{
  margin-right: 13px;
  margin-top: 5px;
  color: #fff;
}
/* perdi */
.card_cat_gories_perdi{
  background: #252525;
  color: #fff;
}
.card_cat_gories_perdi .card-title{
  font-size: 12pt;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
}
.card_cat_gories_perdi .fa-plus{
  margin-right: 13px;
  margin-top: 5px;
  color: #fff;
}
/* IMAC */
.card_cat_gories_imac{
  background: #095091;
  color: #fff;
}
.card_cat_gories_imac .card-title{
  font-size: 12pt;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
}
.card_cat_gories_imac .fa-plus{
  margin-right: 13px;
  margin-top: 5px;
  color: #fff;
}
@media only screen and (max-width: 599px) {
  .lib-panel .col-md-6 {
  width: 100%;
  }
  .card-sosial_mobile{
    display: block;
  }
  .resp-sharing-button--whatsapp {
    display: block;
  }
  .card-sosial_desktop{
    display: none;
  }
  .card-sosial{
    float: left;
  }
}
