/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-weight: 600;
}
*/

/* bootstrap gak jalan */
.text-right {float:right !important;}
.text-left {float:left !important;}
.pull-right {float:right !important;}
.pull-left {float:left !important;}

.ahref {}
.ahref:hover {text-decoration: none;}

.img-fullwidth {width:100% !important;}


/* NAVBAR
-------------------------------------------------- */
@media (max-width: 767px) {

    .navbar-infobrand {
        min-height: 55px;
    }


}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    position:relative;
    margin-bottom: 10px;
}

/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  z-index: 10;
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin: 0px;
  left:0;
  bottom:0;
}

@media (max-width: 767px) {
    .carousel-caption {
    }
    .carousel-caption h2 {
      font-size: 12pt;
    }
}

.carousel-caption a {
  color: #FFFFFF;
  text-shadow: 0px 0px 1px rgb(12, 12, 12);
}
.carousel-caption a:hover {
  text-decoration:none;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

@media (max-width: 767px) {

    .carousel-item {
      height: 16rem;
      background-color: #777;
    }
    .carousel-item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 16rem;
    }

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* NAVBAR DEVIDER VERTICAL CSS
--------------------------------------------------
.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
}

.navbar-inverse .divider-vertical {
    border-right-color: #FFFFFF;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}*/

/*
* Pagination
*/

/*
* postView
*/
@media (max-width: 767px) {
    .postView .title {
        font-size:18pt !important;
     }
}

.postView .detail {
  font-size:10pt;
}

/* LIST POST / NEWS */
.media {
  margin-bottom: 10px;
}

.media-object {
  margin-right: 10px;
  margin-left: 10px;
}

.m-center {
  width: 250px;
  height: 170px;
}

@media (max-width: 767px) {
  .m-center {
    width: 150px;
    height: 100px;
  }
}

.media-body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 120px;
  font-weight: 600;
}
.media-body a {
    color: #000000;
}
.media-body a:hover {
    text-decoration: none;
    color: #898989;
}
.mb-small {
  font-size: 10pt;
  line-height: 13pt;
}
.mb-medium {
  font-size: 20pt;
  line-height: 15pt;
}
.mo-small {
  width: 120px;
  height: 120px;
}
.mo-medium {
  width: 250px;
  height: 170px;
}

.moduler {
  color: #00FFFF;
}
.category_title {
    font-family: "Times New Roman", Times, serif;
    font-size: 14pt;
    font-weight:bold;
    padding: 10px;
    border-bottom: 1px solid #000000;
}

.social-media p {
  display: inline-block;
  font-weight: bold;
  padding-right: 20px;
}

.social-media a {
  font-size:15pt;
  padding-right: 10px;
  color: #FFFFFF;
}

.row-space {
    margin-bottom: 10px;
}

footer .footer-bg {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 10px;
}

footer .footer-bg a {
    color: #FFFFFF;
}

footer .footer-bg a:hover {
    text-decoration: none;
}
footer .nav-link {
    color: #FFFFFF;
}
