@font-face {
    font-family: 'space_craftregular';
    src: url('fonts/space_craft-webfont.woff2') format('woff2'),
         url('fonts/space_craft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {

}
.site-title, .site-description, .site-tags {
  display:none;
}

/* change the background color */
.navtop {
  -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
  transition: all 1s;
}
/* change the brand and text color */
.navtop .navbar-brand,
.navtop .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navtop .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
/* change the color of active or hovered links */
.navtop .nav-item.active .nav-link,
.navtop .nav-item:focus .nav-link,
.navtop .nav-item:hover .nav-link {
    color: #ffffff;
}

.logotop {
  width:250px;
}
.nav-socialmedia {
    font-size:10pt;
    color:#FFFFFF;
    padding: 0px 10px;
}
.bg-home-profile {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height:700px;
}
.bg-gallery-photos {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height:700px;
}
.bg-gallery-photos h2, .bg-gallery-photos a {
  color: #ffffff;
  font-weight: bold;
}
.bg-home-news {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-home-news .boxofnews {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.boxofnews {
  font-size: 11pt;
}
.boxofnews a {
  color:#000000;
  text-decoration: none;
  font-weight: bold;
}
.boxofnews img {
  width:100%;
  height:200px;
  object-fit: cover;
}

@media only screen and (max-width: 599px) {
  .boxofnews {
    display:table;
  }
  .boxofnews img {
    display:table-cell;
    width:120px;
    height:120px;
    object-fit: cover;
    float: left;
    margin-right:10px;
  }
  .boxofnews a {
    display:table-cell;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
    height: 100%;
    color:#000000;
  }
  .boxofnews p {
    display: none;
    float: left;
    height: 100%;
  }
}

.home-videos h1 {
  font-family: 'space_craftregular';
}
.boxofvideos {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.boxofvideos {
  font-size: 11pt;
}
.boxofvideos a {
  color:#000000;
  text-decoration: none;
  font-weight: bold;
}
.boxofvideos img {
  width:100%;
  height:200px;
  object-fit: cover;
}

@media only screen and (max-width: 599px) {
  .boxofvideos {
    display:table;
  }
  .boxofvideos img {
    display:table-cell;
    width:120px;
    height:120px;
    object-fit: cover;
    float: left;
    margin-right:10px;
  }
  .boxofvideos .col-md-4 .video-child-first {
    width:100% !important;
    height:200px !important;
    display:block !important;
    object-fit: cover;
  }
  .boxofvideos a {
    display:table-cell;
    text-decoration: none;
    font-weight: bold;
    font-size: 12pt;
    height: 100%;
    color:#000000;
  }
  .boxofvideos p {
    display: none;
    float: left;
    height: 100%;
  }
}

.our-practice-area {
  background-color: rgb(237, 237, 237);
}
.bg-navbar {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}
.blog-post-list img {
  object-fit: cover;
}
.postSide img {
  width:100%;
  height:200px;
  object-fit:cover;
}
.postSide a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-weight:bold;
}
.postSide a:hover {
  color: rgba(0, 0, 0, 0.8);
}

#hiplawoffice .carousel-control-prev-icon, #hiplawoffice .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 1);
}


footer {
  font-size:10pt;
  margin-top:100px;
  background-color: #042A4F;
  color:#ffffff;
}
.nav-footer li a {
  color:#FFFFFF !important;
}
.nav-footer {
  list-style: none;
  font-weight:bold;
}
.nav-footer li ol {
  list-style: disc;
  font-weight:normal;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
@media only screen and (max-width: 599px) {
	#video-player iframe{
		width: 100%;
    height: 300px;
	}
}
@media only screen and (min-width: 600px) and (max-width: 960px) {
	#video-player iframe{
		width: 100%;
    height: 450px;
	}
}
@media only screen and (max-width: 767px) {
  .navtop {
    background-color: rgba(0, 0, 0, 1)!important;
    position: relative !important;
  }
  .logotop {
    display: none;
  }
  .bg-home-profile {
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
    height: auto;
  }
  .bg-gallery-photos {
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
    height: auto;
  }
  .bg-home-profile .textofprofile {
    background-color: rgba(204, 204, 204, 0.8);
  }
  .bg-navbar {
    display: none;
  }
}
